/* LOGO */
.logo{
    height: 3.5rem;
    margin-left: 2rem;
}

/* SEARCH */
.search {
    flex: 0 0 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 3rem;
    border-radius: 100px;
    width: 90%;
    transition: all .3s;
    margin-right: -3.25rem;
}

.search .search__input:focus {
    background-color: var(--color-grey-light-3);
    width: 100%;
    outline: none;
}

.search .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-light-4);
}

.search .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3);
}

.search .search__button {
    border: none;
    background-color: var(--color-grey-light-2);
    border-radius: 50%;
}

.search .search__button:focus {
    outline: none;
}

.search .search__button:active {
    transform: translateY(2px);
}

.search .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
}

/* USER NAVIGATION */
.user {
    position: relative;
}

.user:hover .user-nav {
    display: flex;
}

.user__name {
    padding-right: 2rem;
}

.user-nav {
    z-index: 3;
    display: none;
    padding: 2rem 0;
    position: absolute;
    right: 0;
}

.user-nav__container {
    display: flex;
    background: white;
}

.user-nav__container > * {
    padding: 1rem 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.username:hover,
.user-nav__container > *:hover {
    background-color: var(--color-grey-light-2);
}

.user-nav .user-nav__icon-box {
    position: relative;
}

.user-nav .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
}

.user-nav .user-nav__notification {
    height: 2rem;
    width: 2rem;
    font-size: .8rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color:white;
    position: absolute;
    top: 1.1rem;
    right: 1.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-nav .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
}

/* SIDE NAVIGATION */

.side-nav {
    font-size: 1.4rem;
    margin-top: 3.5rem;
    list-style: none;
}

.side-nav .side-nav__item {
    position: relative;
}

.side-nav .side-nav__item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.side-nav .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1) .2s,
                background-color .1s;
}

.side-nav .side-nav__item:hover::before,
.side-nav .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%;
}

.side-nav .side-nav__item:active::before{
    background-color: var(--color-primary-light);
}

.side-nav .side-nav__link:link,
.side-nav .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
}

.side-nav .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
}

/* LEGAL */

.legal{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-light-4);
}

/* GALLERY */

.gallery {
    display: flex;
}

.gallery .gallery__item {
    
}

.gallery .gallery__photo {
    width: 100%;
    display: block;
}

/* HOTEL OVERVIEW */
.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);
}

.overview .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
}

.overview .overview__stars {
    margin-right: auto;
    display: flex;
}

.overview .overview__icon-star,
.overview .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
}

.overview .overview__icon-location {
    margin-right: .5rem;
}

.overview .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.overview .overview__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem; 
    align-self: stretch;
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overview .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
}

.overview .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase;
}

/* BUTTON INLINE */
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px dotted currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-inline span {
    margin-left: .3rem;
    transition: margin-left .2s;
}

.btn-inline:hover {
    color: var(--color-grey-dark-1);
}

.btn-inline:hover span {
    margin-left: .8rem;
}

.btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 1rem 4rem rgba(0,0,0,0.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

/* PARAGRAPH */
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}


/* LIST */
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;
}

.list .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
}

.list .list__item::before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    /*Older Browsers*/
    background-image: url('../img/chevron-thin-right.svg');
    background-size: cover;
}

/* RECOMMEND */
.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommend .recommend__friends {
    display: flex;
}

.recommend .recommend__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
}

.recommend .recommend__photo:not(:last-child) {
    margin-right: -2rem;
}

/* REVIEW */
.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
}

.review::before {
    content: '\201C';
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
}

.review .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

.review .review__user {
    display: flex;
    align-items: center;
}

.review .review__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.review .review__user-box {
    margin-right: auto;
}

.review .review__user-name {
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}

.review .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
}

.review .review__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
}
 /* CALL TO ACTION */

 .cta {
     padding: 3.5rem 0;
     text-align: center;
 }

 .cta .cta__book-now {
     font-size: 1.5rem;
     font-weight: bold;
     text-transform: uppercase;
     margin-bottom: 2.5rem;
 }

 /* CALL TO ACTION BUTTON */
 .btn {
    font-size: 1.5rem;
    font-weight: 300;text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color:#fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
 }

 .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
 }

 .btn .btn__visible {
    padding: 2rem 7.5rem;
 }

 .btn .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
 }

 .btn:focus {
    outline: none;
    animation: pulsate 1s infinite;
 }

 .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
 }

 .btn:hover .btn__visible {
    transform: translateY(100%);
 }

 .btn:hover .btn__invisible {
    top: 0;
 }