/* LOGO */
.logo{
    height: 3.5rem;
}

/* SEARCH */
.search {

}

.search .search__input {

}

.search .search__button {
    
}

.search .search__icon {
    height: 2rem;
    width: 2rem;
}

/* USER NAVIGATION */
.user-nav {

}

.user-nav .user-nav__icon-box {

}

.user-nav .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
}

.user-nav .user-nav__notification {

}

.user-nav .user-nav__user {

}

.user-nav .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
}

.user-nav .user-nav__user-name {

}

/* 
 
 */