.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 500px;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;    
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    /* Flex Item Properties */
    flex: 0 0 18%;

    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: orangered;
    height: 80rem;
    /* Flex Item Properties */
    flex: 1;
}